$color-bg-primary: #0252cc;
$color-bg-secondary: #ffc402;
$color-text-secondary: #755f17;
$color-text-base: #444;
$color-text-soft: #999;
$font-display: Futura, Trebuchet MS, Arial, sans-serif;
$font-body: $font-display;
