$color-bg-primary: #c0b283;
$color-bg-secondary: #dcd0c0;
$color-bg-default: #f4f4f4;
$color-text-secondary: #927e7e;
$text-inverse-soft: #bbb;
$font-display: Georgia, Times, "Times New Roman", serif;
$font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
