$color-bg-primary: #ff73b3;
$color-bg-secondary: #6f72b9;
$color-bg-inverse: #5255ac;
$color-text-secondary: #44467b;
$font-display: Futura, Trebuchet MS, Arial, sans-serif;
$font-body: $font-display;
