@tailwind base;
@tailwind components;
@tailwind utilities;

// Example:
// https://codepen.io/phreaknation/pen/3f0aeb9aeec18d0b3fbeecda0fcf2e0b?editors=1100

@import "gen-theme.scss";

@function v($var) {
  @return var(--#{$var});
}

@import "components/hero.scss";
@import "components/button.scss";

$color-white: #fff;
$color-gray-dark: #373737;
$color-gray: #6a6a6a;

.theme-startup {
  $color-bg-primary: #ff73b3;
  $color-bg-secondary: #6f72b9;
  $color-bg-inverse: #5255ac;
  $color-text-secondary: #44467b;
  $font-display: Futura, Trebuchet MS, Arial, sans-serif;
  $font-body: $font-display;

  @include gen-theme(
    $color-bg-primary, $color-bg-secondary, $color-white, $color-bg-inverse, $color-white, $color-text-secondary, $color-gray-dark, $color-gray, $color-white, rgba($color-white, 0.7),
    $font-display,
    $font-body,
    400, 600, 600,
    9999px
  );

  @include hero();
  @include button();
}

.theme-boring {
  $color-bg-primary: #0252cc;
  $color-bg-secondary: #ffc402;
  $color-text-secondary: #755f17;
  $color-text-base: #444;
  $color-text-soft: #999;
  $font-display: Futura, Trebuchet MS, Arial, sans-serif;
  $font-body: $font-display;

  @include gen-theme(
    $color-bg-primary, $color-bg-secondary, $color-white, $color-white, $color-white, $color-text-secondary, $color-text-base, $color-text-soft, $color-text-base, $color-text-soft,
    $font-display,
    $font-body,
    400, 400, 600,
    0.25rem
  );

  @include hero();
  @include button();
}

.theme-elegant {
  $color-bg-primary: #c0b283;
  $color-bg-secondary: #dcd0c0;
  $color-bg-default: #f4f4f4;
  $color-text-secondary: #927e7e;
  $text-inverse-soft: #bbb;
  $font-display: Georgia, Times, "Times New Roman", serif;
  $font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

  @include gen-theme(
    $color-bg-primary, $color-bg-secondary, $color-bg-default, $color-gray-dark, $color-white, $color-text-secondary, $color-gray-dark, $color-gray, $color-white, $text-inverse-soft,
    $font-display,
    $font-body,
    400, 400, 600,
    0
  );

  @include hero();
  @include button();
}
